
<h1><%= @question.title%></h1>

<p>Text: <%= @question.text %></p>


<p>Author: <%= @question.user.username %></p>



<%= link_to "Upvote", upvote_path %>
<%= link_to "Downvote", downvote_path, method: :delete %>


 <p><div class="col-md-2">
 <%= form_for(@vote) do |f| %>

 <%= f.hidden_field :question, :value => @question.id %>

 <%= f.submit "Upvote", value: "" class: "btn btn-default" %>
 <% end %>
 </div></p>

 <p><div class="col-md-2">


 </div></p>


 <% @question.comments.each do |x| %>

 <p>Comment(s):<%= x.text %></p>
 <% end %>


  <% @question.answers.each do |x| %>

  <p>Answer(s):<%= x.text %></p>
  <% end %>


  <%= form_for(@comment) do |f| %>

  <%= f.label :Add_Comment %>
  <%= f.text_area :text, class: 'form-control' %>
  <%= f.hidden_field :question, :value => @question.id %>

  <%= f.submit "Comment", class: "btn btn-primary" %>
 <% end %>

 <br>
 <br>
 <hr>
 <br>

  <%= form_for(@answer) do |f| %>

  <%= f.label :Add_Answer %>
  <%= f.text_area :text, class: 'form-control' %>
  <%= f.hidden_field :question, :value => @question.id %>

  <%= f.submit "If you're genius, answer this", class: "btn btn-primary" %>
 <% end %>
