
<h1><%= @question.title%></h1>

<p>Text: <%= @question.text %></p>


<p>Author: <%= @question.user.username %></p>


 <% if logged_in? %>

 <p><div class="col-md-2">
 <%= form_for(@vote) do |f| %>

 <%= f.hidden_field :question, :value => @question.id %>

 <%= f.submit "Upvote", class: "btn btn-default" %>
 <% end %>

 </div>

 <p><div class="col-md-2">
 <%= form_for(:vote, url: downvote_path) do |f| %>

 <%= f.hidden_field :question, :value => @question.id %>

 <%= f.submit "Downvote", class: "btn btn-default" %>
 <% end %>


 </div></p>

 <% end %>

 <br>
 <br>

 <p>Votes: <%= @question.votes.count %></p>



 <% @question.comments.each do |x| %>

 <p>Comment(s):<%= x.text %></p>
 <% end %>


  <% @question.answers.each do |answer| %>
  <p>Answer(s):<%= answer.text %>

    <% if answer.best == true %>
    <p> Best answer </p>
    <% end %>

    <% if logged_in? %>

    <p>Votes: <%= answer.votes.count %></p>

     <%= form_for(@vote) do |f| %>

     <%= f.hidden_field :answer, :value => answer.id %>

     <%= f.submit "Upvote", class: "btn btn-default" %>
     <% end %>

      <%= form_for(:vote, url: downvote_path) do |f| %>

      <%= f.hidden_field :answer, :value => answer.id %>

      <%= f.submit "Downvote", class: "btn btn-default" %>
      <% end %>

    <hr>
  </p>
  <% end %>
  <% end %>

  <% if logged_in? %>

  <%= form_for(@comment) do |f| %>

  <%= f.label :Add_Comment %>
  <%= f.text_area :text, class: 'form-control' %>
  <%= f.hidden_field :question, :value => @question.id %>

  <%= f.submit "Comment", class: "btn btn-primary" %>
 <% end %>

 <br>
 <br>
 <hr>
 <br>

  <%= form_for(@answer) do |f| %>

  <%= f.label :Add_Answer %>
  <%= f.text_area :text, class: 'form-control' %>
  <%= f.hidden_field :question, :value => @question.id %>

  <%= f.submit "If you're genius, answer this", class: "btn btn-primary" %>
 <% end %>
 <% end %>